annotated-types==0.5.0
anyio==3.7.1
fastapi
h11
idna==3.4
joblib==1.3.1
pydantic
pydantic_core
sniffio==1.3.0
starlette
typing_extensions
uvicorn
streamlit
protobuf==3.20.*
altair<5
langchain==0.0.227
langchainplus-sdk==0.0.20
llama-index
beautifulsoup4
plotly
